body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.profile-card {
    background: #fff;
    padding: 25px;
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);

    /* stack image & info */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.info {
    text-align: center;
}

.info p {
    margin: 6px 0;
    font-size: 16px;
}
